
.demo-swiper-multiple {
    width: 100vw;
    height: 100vh;
}

.checkbox {
    display: inline-block;
    margin-right: 20px;
}

.c1 {
    margin-top: 5%;
    margin-left: 20%;
}

.c2 {
    margin-top: 5.5%;
}

.c3 {
    margin-top: 5.5%;
}

.tituloReanimacion {
    margin-left: 25%;
}

.cSI {
    margin-left: 35%;
}

.cNO {
    margin-left: 10%;
}

.btnRegistroNiño {
    margin-top: 15%;
    margin-left: 25%;
}